.App {
  display: flex;
  justify-content: center;
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2%;
  max-height: 100vh;
}
.width300{
  width: 300px;
}
.height80vh{
  height: 90vh;
}
.margin0{
  margin: 0;
}
.position-relative{
  position: relative;
}
.display-flex{
  display: flex;
}
.align-c-c{
  align-content: center;
}
.justify-i-c{
  justify-items: center;
}
.text-a-c{
  text-align: center;
}
.width100pc{
  width: 100%;
}
.boldfont{
  font-family: 'Montserrat bo';
  font-size: 26px;
}
.font1rem{
  font-size: 1rem;
}
.center-row{
  justify-content: center;
}
.lineheiht10px{
  line-height: 15px;
}
.darker{
  background-color: rgb(6, 6, 36);
}
.photo {
  height: 200px;
  pointer-events: none;
}
.bdnone{
  border: none;
}
.br15{
  border-radius: 10px;
}
.br5{
  border-radius: 5px;
}
.lh25{
  line-height: 25px;
}
.width80pc{
  width: 80%;
}
a{
  text-decoration: none;
  color: beige;
  background-color: transparent;
}
.marginlr20{
  margin-left: 40px;
  margin-right: 40px;
}
.top-1{
  top: 1;
}


@media (prefers-reduced-motion: no-preference) {
  .photo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}