.App {
  display: flex;
  justify-content: center;
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2%;
  max-height: 100vh;
}
.width300{
  width: 300px;
}
.height80vh{
  height: 90vh;
}
.margin0{
  margin: auto;
}
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.display-flex{
  display: flex;
}
.align-c-c{
  align-content: center;
}

.align-c-l{
  align-items: flex-end;
}
.justify-i-c{
  justify-items: center;
}
.justify-c-sa{
  justify-content: space-evenly;
}
.text-a-c{
  text-align: center;
}
.text-a-r{
  text-align: right;
}
.width100pc{
  width: 100%;
}
.boldfont{
  font-family: 'Montserrat bo';
  font-size: 26px;
}
.font1rem{
  font-size: 1rem;
}
.font-1rem{
  font-size: 10px;
}
.center-row{
  justify-content: center;
}
.opacity-5{
  opacity: 0.5;
}
.lineheiht10px{
  line-height: 15px;
}
.darker{
  background-color: rgb(6, 6, 36);
}
.lighter{
  background-color: rgb(34, 34, 48);
}
.photo {
  height: 200px;
  pointer-events: none;
}
.bdnone{
  border: none;
}
.br15{
  border-radius: 10px;
}
.br5{
  border-radius: 5px;
}
.lh25{
  line-height: 25px;
}
.width80pc{
  width: 80%;
}
a{
  text-decoration: none;
  color: beige;
  background-color: transparent;
}
.marginlr20{
  margin-left: 40px;
  margin-right: 40px;
}
.top-1{
  top: 1;
}
.text-a-l{
  text-align: left;
}
.left20{
  left:200px;
}
.bottom{
  margin-top:15%;
  height: 3%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2%;
}
.padding2{
  padding: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .photo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}